*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box,
.box-nesting,
.box-regular{
  width: 100%;
  background-color: #006cfa;
  padding: 15px;
  text-align: center;
  border: 1px solid white;
}

.box-nesting{
  background-color: #00e165;
  /* border: 1px solid blue; */
}

.box-regular{
  height: 45px;
  padding: 0;
}