.container{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.box.brown{
  background-color: #d18b46;
}

.box.white{
  background-color: white;
}

.box.light-brown{
  background-color: #fece9e;
}

.box span{
  font-size: 25px;
  font-weight: bold;
}

.box i{
  font-size: 75px;
}

.black-text{
  color: black;
}

.white-text{
  color: white;
}